# Database Credentials
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=5432

# Backend Service
PORT=4000
SESSION_SECRET=super_secret_key_change_me_in_prod
JWT_SECRET=your_jwt_secret_change_me_in_prod

# Application Business Logic Rules
NOTIFY_BEFORE_MINUTES=10

# Database Connection URL (Constructed for Docker network)
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public